<!-- <div class="night-bg">
    <div class="moon"></div>
    <div *ngFor="let star of stars"
       class="star"
       [ngStyle]="{
         top: star.top,
         left: star.left,
         width: star.size,
         height: star.size,
         animationDuration: star.duration
       }">
  </div>
</div> -->

<div class="moon"></div>
    <div *ngFor="let star of stars"
       class="star"
       [ngStyle]="{
         top: star.top,
         left: star.left,
         width: star.size,
         height: star.size,
         animationDuration: star.duration
       }">
  </div>
