<div class="weather-bg">
    <div *ngIf="!showForecast" class="placeholder">
        <h2>Diese Ansicht ist gerade im Aufbau. Du willst trotzdem wissen, wohin der Wind weht?</h2>
        <h2>TThis view is currently under construction. Still want to know what's going on?</h2>
        <button class="placeholder-btn" (click)="hideConstructionInfo()">YES!</button>
        <img src="/img/appLogo5.png" alt="">
    </div>

    

    <div *ngIf="showForecast" class="forecast-14d">
        <div class="forecast-header">
            <h2>Vorschau für {{ locationName }}</h2>
        </div>
        <div class="forecast-scroll-wrapper">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
            <div class="forecast-container">
                <div class="forecast-day" *ngFor="let day of forecast14d" (click)="selectDay(day)" [class.active]="selectedDay === day">
                    <p class="forecast-date">{{day.dateLabel}}</p>
                    <div class="separator"></div>
                    <div class="fc-info-top">
                        <h1>{{day.temperatureMean | number: '1.0-0'}}°C</h1>
                         <app-weather-icon [code]="day.weatherCode" [scale]="1.4"></app-weather-icon>
                    </div>                         
                </div>
            </div>
        </div>

        <div class="forecast-detail-1d" *ngIf="selectedDay">
            <div class="detail-box box1">
                <div class="daytime-forecast-grid" *ngIf="selectedDay?.miniForecast">
                    <div class="day-section" *ngFor="let section of selectedDay.miniForecast">
                        <h4>{{ section.interval }}</h4>
                        <p>{{ section.display.temp | number:'1.0-0' }}°C</p>
                        <app-weather-icon [code]="section.display.code" [scale]="0.7" [isDaytime]="section.isDayTime"></app-weather-icon>
                        <div class="day-section-info-box">
                            <div class="day-section-detail">
                                <img src="/img/navigation_full_blue.svg" [style.transform]="'rotate(' + section.display.windDirection + 'deg)'" alt="Wind direction mark">
                                <p>{{ section.display.windSpeed | number: '1.0-0'}} km/h ({{section.display.windDirectionLabel}})</p>
                            </div>
                            <div class="day-section-detail">
                                <svg class="gust-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"width="24" height="24" role="img" aria-labelledby="title"><title id="title">Böen</title><style>:root {--sock-red: #e53935;--sock-white: #ffffff;--metal: #334155;/* Mast */--stroke: #0f172a;/* Kontur */}</style><rect x="20" y="14" width="3.5" height="32" rx="1.5" fill="var(--metal)"/><rect x="20" y="14" width="10" height="2.8" rx="1.4" fill="var(--metal)"/><defs><clipPath id="sock-clip"><path d="M 28 10 C 36 11, 44 12, 56 15 L 56 25 C 44 22, 36 21, 28 22 Z" /></clipPath></defs><g clip-path="url(#sock-clip)">
                                <rect x="26" y="9" width="34" height="18" fill="var(--sock-white)"/><rect x="26" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="34" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="42" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="50" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="58" y="9" width="4"  height="18" fill="var(--sock-red)"/></g><path d="M 28 10 C 36 11, 44 12, 56 15 L 56 25 C 44 22, 36 21, 28 22 Z" fill="none" stroke="var(--stroke)" stroke-width="1.2" stroke-linejoin="round"/></svg>
                                <p>{{ section.display.windGusts | number: '1.0-0'}} km/h ({{section.display.windDirectionLabel}})</p>
                            </div>
                        </div>
                        
                    
                    </div>
                </div>           
            </div>

            <div class="detail-box box2">
                <div class="fc-condition-detail">
                    <img src="/img/navigation_full_blue3.svg" [style.transform]="'rotate(' + selectedDay.windDirection + 'deg)'" alt="wind direction mark">
                    <p>{{selectedDay.windSpeed | number: '1.0-0'}} km/h aus {{selectedDay.windDirectionLabel}}</p>
                </div>
                <div class="fc-condition-detail">
                    <svg class="gust-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"width="24" height="24" role="img" aria-labelledby="title"><title id="title">Böen</title><style>:root {--sock-red: #e53935;--sock-white: #ffffff;--metal: #334155;/* Mast */--stroke: #0f172a;/* Kontur */}</style><rect x="20" y="14" width="3.5" height="32" rx="1.5" fill="var(--metal)"/><rect x="20" y="14" width="10" height="2.8" rx="1.4" fill="var(--metal)"/><defs><clipPath id="sock-clip"><path d="M 28 10 C 36 11, 44 12, 56 15 L 56 25 C 44 22, 36 21, 28 22 Z" /></clipPath></defs><g clip-path="url(#sock-clip)">
                    <rect x="26" y="9" width="34" height="18" fill="var(--sock-white)"/><rect x="26" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="34" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="42" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="50" y="9" width="4"  height="18" fill="var(--sock-red)"/><rect x="58" y="9" width="4"  height="18" fill="var(--sock-red)"/></g><path d="M 28 10 C 36 11, 44 12, 56 15 L 56 25 C 44 22, 36 21, 28 22 Z" fill="none" stroke="var(--stroke)" stroke-width="1.2" stroke-linejoin="round"/></svg>
                    <p>Böen bis {{selectedDay.windGusts | number: '1.0-0'}} km/h</p>
                </div>
                <div class="fc-condition-detail">
                    <img src="/img/water.svg" alt="">
                    <!-- <p *ngIf="selectedDay.waveHeight !== null; else noData">Wellenhöhe bis {{ selectedDay.waveHeight != null ? (selectedDay.waveHeight | number:'1.1-1') + ' m' : '---'  }}</p>
                    <ng-template #noData>
                        <span class="no-data">Daten noch nicht verfügbar</span>
                    </ng-template> -->
                    
                    <p *ngIf="!hasWaveData">--- </p>                    
                    <p *ngIf="hasWaveData && selectedDay.waveHeight !== null">
                        Wellenhöhe bis {{ selectedDay.waveHeight | number:'1.1-1' }} m
                    </p>                    
                    <ng-container *ngIf="hasWaveData && selectedDay.waveHeight === null">
                        <span class="no-data">Daten noch nicht verfügbar</span>
                    </ng-container>
                </div>
                <div class="fc-condition-detail">
                    <img src="/img/umbrella.png" alt="">
                    <p>Niederschlag: 10%</p>
                </div>                                       
            </div>
            
            <div class="detail-box box3">
                <div class="fc-condition-detail">
                    <img src="/img/thermostat_red.png" alt="">
                    <p>{{selectedDay.tempMin | number: '1.0-0'}}°C / {{selectedDay.tempMax }}°C</p>
                </div>
                <div class="fc-condition-detail">
                    <img src="/img/clock.svg" alt="daylight duration">
                    <p>Tageslichtdauer: {{selectedDay.daylightDuration}}</p>
                </div>
                <div class="fc-condition-detail">
                    <img src="/img/sun_icon.png" alt="UV Index">
                    <p>UV-Index: {{selectedDay.uvIndex }} ({{getUvCategory(selectedDay.uvIndex)}})</p>
                </div>
            </div>

            <!-- <div class="detail-box">
                <div class="fc-condition-detail">
                    <img src="/img/water.svg" alt="">
                    <p *ngIf="selectedDay.waveHeight !== null; else noData">Wellenhöhe bis {{ selectedDay.waveHeight != null ? (selectedDay.waveHeight | number:'1.1-1') + ' m' : '---'  }}</p>
                    <ng-template #noData>
                        <span class="no-data">Daten noch nicht verfügbar</span>
                    </ng-template>
                </div>
                <div class="fc-condition-detail">
                    <img src="/img/umbrella.png" alt="">
                    <p>Niederschlag: 10%</p>
                </div>
            </div>                      -->
    </div>
</div>
